<%- include('layout/header.ejs') %>
<section class="main">
    <div class="container">
        <div class="bio_wrapper">
            <div class="kor">
                <h4>정 수 연</h4>
                <div class="history_block">
                    <!-- <div class="bh">
                        <p></p>
                        <p></p>
                    </div>	 -->
                    <% korBioProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>                 
                </div>
            </div>
            <div class="en">
                <h4>
                    JUNG SU YUN
                </h4>
                <div class="history_block">
                    <!-- <div class="bh">
                        <p></p>
                        <p></p>
                    </div> -->
                    <% engBioProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="bio_wrapper">
            <div class="kor">
                <h4>개인전</h4>
                <div class="history_block">
                    <% korSolExProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="en">
                <h4>
                    SOLO EXHIBITIONS
                </h4>
                <div class="history_block">
                        <% engSolExProfiles.forEach(profile => { %>
                            <div>
                                <div class="bh1"><%= profile.year %> </div>
                                <div class="bh2"><%= profile.title %></div>
                            </div>
                        <% }); %>
                </div>
            </div>
        </div>
        
        <div class="bio_wrapper">
            <div class="kor">
                <h4>단체전</h4>
                <div class="history_block">
                    <% korGrpExProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="en">
                <h4>
                    SELECTED GROUP EXHIBITIONS
                </h4>
                <div class="history_block">
                    <% engGrpExProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>
                </div>
            </div>        
        </div>

        <div class="bio_wrapper">
            <div class="kor">
                <h4>수상</h4>
                <div class="history_block">
                    <% korAwdProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="en">
                <h4>
                    AWARDS
                </h4>
                <div class="history_block">
                    <% engAwdProfiles.forEach(profile => { %>
                        <div>
                            <div class="bh1"><%= profile.year %> </div>
                            <div class="bh2"><%= profile.title %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <!-- <div class="bio_wrapper">
            <div class="kor">
                <h4>소장</h4>
                <div class="history_block">                   
                        <% korPblColProfiles.forEach(profile => { %>
                            <div>
                                <div class="bh1"><%= profile.year %> </div>
                                <div class="bh2"><%= profile.title %></div>
                            </div>
                        <% }); %>                   
                </div>
            </div>
            <div class="en">
                <h4>Public Collection</h4>
                <div class="history_block">
                    <% if (engPblColProfiles) { %>
                        <% engPblColProfiles.forEach(profile => { %>
                            <div>
                                <div class="bh1"><%= profile.year %> </div>
                                <div class="bh2"><%= profile.title %></div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div> -->
    </div>
</section><!--/main -->
<%- include('layout/footer.ejs') %>

<!-- Script -->
<script src="/js/indexProfile.js"></script>

