<%- include('layout/header.ejs') %>
<section class="main work">
    <div class="container">
        <div id="artwork_list">
            <div class="row">  
                <% works.forEach(function(work) { %>
                <div class="col-sm-3">
                    <div class="painting">
                        <a href="<%= work.imagePath %>" data-description="
                        <%= work.title %>,&nbsp;
                        <%= work.year %>,&nbsp;
                        
                        <%= work.medium %>,&nbsp;
                        
                        <%= work.dimensions %>                                  
                        " data-size="group2">
                            <img src="<%= work.thumbnailPath %>" alt="artwork">
                        </a>
                    </div>
                    <div>
                        <p><%= work.title %>&nbsp;</p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</section><!--/main -->

<!-- The Gallery as lightbox dialog, should be a document body child element -->
<div
  id="blueimp-gallery"
  class="blueimp-gallery blueimp-gallery-controls"
  aria-label="image gallery"
  aria-modal="true"
  role="dialog"
>
  <div class="slides"></div>
  <h1 class="description"></h1>
  <a
    class="prev"
    aria-controls="blueimp-gallery"
    aria-label="previous slide"
    aria-keyshortcuts="ArrowLeft"
  ></a>
  <a
    class="next"
    aria-controls="blueimp-gallery"
    aria-label="next slide"
    aria-keyshortcuts="ArrowRight"
  ></a>
  <a
    class="close"
    aria-controls="blueimp-gallery"
    aria-label="close"
    aria-keyshortcuts="Escape"
  ></a>
  <a
    class="play-pause"
    aria-controls="blueimp-gallery"
    aria-label="play slideshow"
    aria-keyshortcuts="Space"
    aria-pressed="false"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>

<%- include('layout/footer.ejs') %>

<!-- Script -->
<script src="/js/indexWork.js"></script>
